# Eclipse
.classpath
.project
.settings/

# Maven
target/
pom.xml.asc
pom.xml.tag
pom.xml.releaseBackup
release.properties



# Hibernate H2 Database (se estiver usando)
data/

# IDE-specific files
.idea/
.vscode/

# Logs
*.log

# Compiled bytecode
*.class

# Package files
*.jar
*.war
*.ear