<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<!-- Configurações de conexão com o banco de dados H2 -->
	<session-factory>
		<property name="hibernate.connection.driver_class">org.h2.Driver</property>
		<property name="hibernate.connection.url">jdbc:h2:file:./data/testdb</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>
		<!-- Especifica o dialeto do banco de dados -->
		<property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
		<!-- Mostra todo SQL executado no console -->
		<property name="hibernate.show_sql">true</property>
		<!-- Atualiza automaticamente o esquema do banco de dados -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- Menciona a classe de entidade -->
		<mapping class="com.fiap.hibernate.Product" />
	</session-factory>

</hibernate-configuration>
